# Project information
site_name: 'Openstack Deployment Guide'
site_description: 'Guide for openstack-ansible Deployers'
site_author: 'Chinthaka Deshapriya'
site_url: 'https://ostackdoc.github.io'

# Repository
repo_name: 'ostackdoc/ostackdoc-docs'
repo_url: 'https://github.com/ostackdoc/ostackdocs-docs'

# Copyright
copyright: 'Copyright &copy; 2018 - 2019 Chinthaka Deshapriya'

# Configuration
theme:
  name: 'material'
  language: 'en'
  palette:
    primary: 'indigo'
    accent: 'indigo'
  font:
    text: 'Roboto'
    code: 'Roboto Mono'

# Customization
extra:
  manifest: 'manifest.webmanifest'
  social:
    - type: 'github'
      link: 'https://github.com/ostackdoc'
    - type: 'twitter'
      link: 'https://twitter.com/ostackdoc'
    - type: 'linkedin'
      link: 'https://linkedin.com/in/ostackdoc'
nav:
- 'Introduction': 'index.md'
- 'Overview': 'overview.md'
- 'Test Environment Example': 'test-env-example.md'
- 'Preparing OpenStack Nodes':
  - 'Installing Node OS': 'install-node-os.md'
  - 'Configuring Node Network': 'configure-node-network.md'

# Google Analytics
google_analytics: ['UA-136248088-1', 'ostackdoc.github.io']
# Extensions
markdown_extensions:
  - admonition
  - codehilite:
      guess_lang: false
  - toc:
      permalink: "#"
      baselevel: 2
      separator: "_"
